<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stock</title>
</head>
<body background="https://img.wantgoo.com/WantGooFiles/UpdateFiles/98845/9f65905a-af35-4858-9012-66c3ce031620.jpg" 
style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
<h1>台股查詢</h1>
<form action="index.html" method="GET">
    <div>
        <label for="name">股票代碼:</label>
        <input name=number>
    </div>
    <br />
    <br />
    <button type="submit">submit</button>
</form>
</body>
</html>